<!DOCTYPE HTML>
<html>

<head>
  <title>Classified image</title>
	<meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  
</head>

<body>


<br><br><br>
<h1><center>The clothing piece is a <br> {{ data }} !</center></h1>

<br><br><br>
<center><a href="/" ><button class="btn btn-dark"> Classify Again </button></a></center>

</div>

</body>

<script>
        $(document).ready(function(){
          
        });
</script>
</html>